/**
**
**  Global
**
**/


body{
    color: rgb(92, 92, 92);
}

#app{
    background-color: #f9fffe;
}

.form-control{
    border-radius: 0;
}

.white-input-group-text{
    color: #fff; 
    border: 0;
}

.input-group-text{
    border-radius: 0;
}


.card{
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.02); 
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.02);
}

.btn{
    border-radius: 0;
    transition: color 1S ease-in-out, background-color 1s ease-in-out;
    transition: color 1s ease-in-out, background-color 1s ease-in-out;
    -webkit-transition: color 1s ease-in-out, background-color 1s ease-in-out;
    -moz-transition: color 1s ease-in-out, background-color 1s ease-in-out;
    -o-transition: color 1s ease-in-out, background-color 1s ease-in-out;
    
}

.btn-primary{
    background-color: rgba(0, 139, 255, 0.6);
    border: 0;
}

.btn-no-padding{
    padding: 0;
}

.card-header{

    color: #666;
    border: 0;
    background-color: rgba(224, 241, 255, 0.6);

}


.card-header a{
    color: #666;
}

.card-header a:hover {
    color: #666;
    text-decoration: none;
}

.add-card-header{
    text-align: center;
    font-size: 1.1rem;
}

.info-questionmark{
    font-size: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 50%;
    padding: 0 3px;
}

.a-no-decoration{
    color: #5c5c5c;
    text-decoration: none;
}

.a-no-decoration:hover{
    color: #5c5c5c;
    text-decoration: none;
}

.a-report{
    background-color: transparent;
    border: 0;
    color: rgb(250, 59, 59);
    font-size: 0.65rem;
}

.a-report:hover{
    color: rgb(250, 59, 59);
    text-decoration: none;
}


@media only screen and (min-width: 1080px){

    .input-group-text{
        width: 90px;
    }

}


// Welcome Page Cards


.card-user-date{

    float: right;

}



.card-user-date span{

    font-size: 0.6rem;
    color: #666;

}


.card-user-img{
    display: inline-block;
}


.card-user-text{
    display: inline-block;
    margin-left: 0.3rem;
}


.card-meta-info{
    background-color: #f2f4f4;
    padding: 1.25rem;
}

.card-category{
    float: right;
    background-color: transparent;
}

.card-category-span{
    padding: 5px 10px;
    font-size: 0.75rem;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 25;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.card-category-span:hover{
    color: #fff;
    border: 1px solid #fff;
}

.card-info{
    padding: 1.25rem;
}


.card-footer-icons{
    float: left;
}

.card-footer-more{
    width: 100%;
}

.card-footer-more a{
    color: rgb(255, 102, 102);
}

.card-footer-date{
    position: absolute;
    padding-top: 5px;
    font-size: 0.6rem;
}


.submit-asset-btn{
    float: right;
}


.add-download-btn{
    width: 100%;
    background-color: rgb(241, 241, 241);
    transition: all 1s ease-in-out;
}

.add-download-btn:hover{
    background-color: rgb(175, 175, 175);
}


.create-asset-btns{
    margin-top: 30px;
}



.card-shadow{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}


.heart-icon{
    transition: all 0.2s ease;
    fill: #ccc;
}

.heart-icon:hover{
    fill: rgb(252, 121, 160);
}


.avatar-pic{
    height: 25px;
    width: 25px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%; 
    border: solid 1px white;
}

.card-header-flex{
    display: flex;
}

.card-body-asset{
    padding: 0;
}

.card-body-img{
    width: 100%;
    padding: 1.25rem 0;
}

.card-footer-no-padding{
    border-top: 0;
    padding: 0;
}

/**
**
**  Ask new asset page
**
**/

#tags{
    max-height:200px;
    overflow:auto;
}

.tags-li{
    cursor: pointer;
    transition: all 1s ease;
}

.tags-li:hover{
    background-color: #bcd7ff;
}

.tag-container{
    position: relative;
}

.selected-tags{
    padding-bottom: 1rem;
}

.selected-tags-li{
    cursor: pointer;
    padding: 0.3rem;
    font-size: 0.8rem;
    margin-right: 0.5rem !important;
}

.card-avatar-img{
    max-height: 50px;
    max-width: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%; 
}

.upload-form-group{
    padding: 10px 10px;
    border: 1px solid#ccc;
}

.delete-upload-btn{
    
    background-color:rgb(255, 108, 108);
    float: right;
    width: 25px;
    text-align: center;
    color:#fff;
    height: 25px;
    border-radius: 25%;

cursor: pointer;
}

/**
**
**  Add Asset Page
**
**/

.uploads, .featured-media{
    margin: 30px 0px;
}

.featured-media .form-group > label{
    margin-right: 20px;
}

.select-category{
    margin: 20px 0;
}


.card-bottom{
    width: 200px;
    height: 200px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.card-bottom:hover{
    border: 6px solid #549ff5;
}

.card-bottom .card-text-overlay {

    position: absolute;
    color: #fff;
    padding: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.card-img-overlay{
    
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.6),rgba(0,0,0,0.7),rgba(0,0,0,0.8) 100%);
    z-index: 10;
}

.no-img{

    width: 100%;
    height: 100%;

}

.category-img{
    z-index: 1;
}



/**
**
** Profile Page
**
**/

.profile-navigation{
    margin: 20px 30px 0 30px;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 14px -4px rgba(102,102,102,0.5);
    -moz-box-shadow: 0px 0px 14px -4px rgba(102,102,102,0.5);
    box-shadow: 0px 0px 14px -4px rgba(102,102,102,0.5);

}


.profile-navigation-link{
    background-color: #fff;
    padding: 15px 0;
    transition: all 1s ease-in-out;
}


.profile-navigation-link:hover{
    background-color: #ccc;
}

.profile-navigation a:hover{
    text-decoration: none;
}

.profile-navigation-link-active{
    background-color: #ccc;
    padding: 15px 0;
}

.profile-navigation-link-active:hover{
    color: #3490dc;
}



.profile-container{
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 14px -4px rgba(102,102,102,0.5);
    -moz-box-shadow: 0px 0px 14px -4px rgba(102,102,102,0.5);
    box-shadow: 0px 0px 14px -4px rgba(102,102,102,0.5);
}

.profile-container-header{
    width: 100%;
    padding: 50px 0;
}

.profile-img{
    margin-right: 50px;
}

.profile-img img{

    max-height: 100px;
    max-width: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%; 
    
}

.profile-text-col{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-text{

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

.profile-header-numbers{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-numbers{
    margin: 0 20px;
}

.card-link > .card{
    border-radius: 0;
}

.card-link > .card > img{
    border-radius: 0;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.footer-category{
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 2px 4px;
    border-radius: 2px;
}

a.card-link, a.card-link:hover {
  color: inherit;
}

.assets-container-title{
    margin: 30px 0px;
}

/**
**
**  Profile Setup Page
**
*/

#profile-picture-select{
    width: 100%;
}

.profile-picture-container{
    margin-top: 10px;
}

.profile-info-container{
    margin-top: 50px;
}

.profile-setup-info{
    width: 100%;
    padding: 50px 0;
    width: 85%;
    margin: 0 auto;
}

.profile-img-setup{
    margin: 0 auto;
    display: block;
    max-width: 150px;
    border-radius: 50%;
}

.setup-btn-container{
    margin-top: 30px;
}

.btn-blue {
    color: #fff;
    background-color:#497aaa;
    border-color:#497aaa;
    transition: color 1s ease-in-out, background-color 1s ease-in-out;
    -webkit-transition: color 1s ease-in-out, background-color 1s ease-in-out;
    -moz-transition: color 1s ease-in-out, background-color 1s ease-in-out;
    -o-transition: color 1s ease-in-out, background-color 1s ease-in-out;
}

.btn-blue:hover {
    color: #fff;
    background-color:#7ab1e7;
    border-color:#6397ca;
}

.btn-blue:focus {
    outline: none;
}

.links-container{
    background-color: #fff;
    margin: 40px 0;
    padding-bottom: 20px;
    -webkit-box-shadow: 0px 0px 14px -4px rgba(102,102,102,0.5);
    -moz-box-shadow: 0px 0px 14px -4px rgba(102,102,102,0.5);
    box-shadow: 0px 0px 14px -4px rgba(102,102,102,0.5);
}

.link-container{
    padding: 10px 20px;
}

.links-container-title{

    padding: 30px 0;

}


/**
**
**  Add Contest Page
**
**/

.submit-contest-btn{
    float: right;
}



/**
**
**  Register And Login Pages
**
**
**/


.register-login-col{
    padding: 100px 0;
}

@media only screen and (max-width: 970px){
    .register-login-col{
        padding: 0;
    }
}


/**
**
**
**  Home Page
**  
**
**/

.search-home-container{
    height: 500px;
    width: 100%;
    margin-bottom: 30px;
    background-color: rgb(57, 58, 54);
}

.search-home{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form-title{
    text-align: center;
    color: rgb(241, 241, 241);
}

.search-form{
    width: 50%;
}

.search-btn{
    width: 100%;
}

.report-btn{
    background-color: transparent;
    border: 0;
    color: rgb(250, 59, 59);
    font-size: 0.65rem;
}



/**
**
**
** Search Page
**
**
**/

.search-bar{

    padding: 20px 0;
    background-color: #edf5f4;

}


.search-bar-row{
    
    width: 50%;
    margin: 0 auto;

}




/**
**
**  Show Asset Page
**
**/

.post-card-user-text{
    padding-left: 0.7rem;
    font-size: 0.8rem;
    font-weight: 700;
}

.comment-user-img{
    width: 100%;
    padding: 0.5rem;
}

.comment-user-name{
    font-size: 0.7rem;
    line-height: 2rem;
}

.tag-span{
    background-color: rgb(101, 197, 255);
    padding: 0.3rem 0.5rem;
    color: #fff;
    font-size: 0.8rem;
}

.dropdown-toggle-comment{
    background-color: transparent;
    border: 0;
}

.dropdown-toggle-comment:hover{
    background-color: transparent;
    border: 0;
}

.dropdown-toggle-comment:focus{
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

.dropdown-toggle-comment:active{
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

.dropdown-toggle-comment::after {
    display: none;
}

.menu-icon-comment{
    fill: #dadada;
    width: 75%;
}