/**
**
**  Global
**
**/

body {
  color: #5c5c5c;
}

#app {
  background-color: #ffffff;
}

main {
  min-height: 100vh;
}

.form-control {
  border-radius: 0;
}

.white-text {
  color: #fff;
}

.white-input-group-text {
  color: #fff;
  border: 0;
}

.input-group-text {
  border-radius: 0;
}

.card {
  border: 0;
  border-radius: 0;
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.02);
}

.btn {
  border-radius: 0;
  transition: color 1S ease-in-out, background-color 1s ease-in-out;
  transition: color 1s ease-in-out, background-color 1s ease-in-out;
  -webkit-transition: color 1s ease-in-out, background-color 1s ease-in-out, border-color 1s ease-in-out;
  -moz-transition: color 1s ease-in-out, background-color 1s ease-in-out, border-color 1s ease-in-out;
  -o-transition: color 1s ease-in-out, background-color 1s ease-in-out, border-color 1s ease-in-out;
}

.btn-primary {
  background-color: rgba(0, 139, 255, 0.6);
  border: 0;
}

.btn-light-green {
  color: #fff;
  background-color: #10decb;
  border-color: #10decb;
}

.btn-outline-custom-light {
  color: #444;
  border-color: #9d9d9d;
}

.btn-outline-custom-light:hover {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}

.btn-no-padding {
  padding: 0;
}

.card-header {
  color: #666;
  border: 0;
  background-color: rgba(224, 241, 255, 0.6);
}

.card-header a {
  color: #666;
}

.card-header a:hover {
  color: #666;
  text-decoration: none;
}

.add-card-header {
  text-align: center;
  font-size: 1.1rem;
}

.info-questionmark {
  font-size: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 50%;
  padding: 0 3px;
}

.a-no-decoration {
  color: #5c5c5c;
  text-decoration: none;
}

.a-no-decoration:hover {
  color: #5c5c5c;
  text-decoration: none;
}

.a-no-decoration-white {
  color: #fff;
  text-decoration: none;
}

.a-no-decoration-white:hover {
  color: #fff;
  text-decoration: none;
}

.a-report {
  background-color: transparent;
  border: 0;
  color: #fa3b3b;
  font-size: 0.65rem;
}

.a-report:hover {
  color: #fa3b3b;
  text-decoration: none;
}

.no-border {
  border: 0;
}

.py-point-8 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.nav-link {
  line-height: 2;
}

.pagination {
  justify-content: center;
}

@media only screen and (min-width: 1080px) {
  .input-group-text {
    width: 90px;
  }
}

.card-user-date {
  float: right;
}

.card-user-date span {
  font-size: 0.6rem;
  color: #666;
}

.card-user-img {
  display: inline-block;
}

.card-user-img-transition {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.card-overlay-upper {
  height: 65%;
}

.card-overlay-lower {
  height: 35%;
}

.card-user-text {
  display: inline-block;
  margin-left: 0.3rem;
}

.card-category {
  float: right;
  background-color: transparent;
}

.card-category-span {
  padding: 5px 10px;
  font-size: 0.75rem;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 25;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.card-category-span:hover {
  color: #fff;
  border: 1px solid #fff;
}

.card-info {
  color: #fff;
}

.card-footer-icons {
  float: left;
}

.card-footer-more {
  width: 100%;
}

.card-footer-more a {
  color: #ff6666;
}

.card-footer-date {
  position: absolute;
  padding-top: 5px;
  font-size: 0.6rem;
}

.submit-post-btn {
  float: right;
}

.add-download-btn {
  width: 100%;
  background-color: #f1f1f1;
  transition: all 1s ease-in-out;
}

.add-download-btn:hover {
  background-color: #afafaf;
}

.create-post-btns {
  margin-top: 30px;
}

.card-shadow {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.heart-icon {
  transition: all 0.2s ease;
  fill: #ccc;
}

.heart-icon:hover {
  fill: #fc79a0;
}

.avatar-pic {
  height: 25px;
  width: 25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: solid 1px white;
}

.card-header-flex {
  display: flex;
}

.card-header-img {
  display: inline;
}

.card-header-text {
  display: inline;
}

.card-image-container {
  height: 13rem;
  overflow: hidden;
}

.card-image-container img {
  height: auto;
  display: block;
  max-width: 100%;
}

.card-body-img {
  width: 100%;
  padding: 1.25rem 0;
}

.card-footer-no-padding {
  border-top: 0;
  padding: 0;
}

.card-audio-overlay {
  position: relative;
  height: auto;
  width: 100%;
  bottom: 0;
  z-index: 11;
  display: flex;
}

.card-audio-overlay-audio {
  width: 100%;
}

.card-video-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: 11;
  display: flex;
}

.card-video-overlay .mejs__controls {
  display: none;
}

.card-img-video-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  height: 100%;
  width: 100%;
  z-index: 14;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.4) 100%);
}

/**
**
**  Ask new post page
**
**/

#tags {
  max-height: 200px;
  overflow: auto;
}

.tags-li {
  cursor: pointer;
  transition: all 1s ease;
}

.tags-li:hover {
  background-color: #bcd7ff;
}

.tag-container {
  position: relative;
}

.selected-tags {
  padding-bottom: 1rem;
}

.selected-tags-li {
  cursor: pointer;
  padding: 0.3rem;
  font-size: 0.8rem;
  margin-right: 0.5rem !important;
}

.card-avatar-img {
  max-height: 50px;
  max-width: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.upload-form-group {
  padding: 10px 10px;
  border: 1px solid #ccc;
}

.delete-upload-btn {
  background-color: #ff6c6c;
  float: right;
  width: 25px;
  text-align: center;
  color: #fff;
  height: 25px;
  border-radius: 25%;
  cursor: pointer;
}

/**
**
**  Add Post Page
**
**/

.uploads,
.featured-media {
  margin: 30px 0px;
}

.featured-media .form-group > label {
  margin-right: 20px;
}

.select-category {
  margin: 20px 0;
}

.card-bottom {
  width: 200px;
  height: 200px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.card-bottom:hover {
  border: 6px solid #549ff5;
}

.card-bottom .card-text-overlay {
  position: absolute;
  color: #fff;
  padding: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.card-video {
  height: 230px;
  overflow: hidden;
}

.card-img-overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8) 100%);
  z-index: 10;
}

.no-img {
  width: 100%;
  height: 100%;
}

.category-img {
  z-index: 1;
}

/**
**
** User Profile Page
**
**/

.profile-navigation {
  margin: 20px 30px 0 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 14px -4px rgba(102, 102, 102, 0.5);
}

.profile-navigation-link {
  background-color: #fff;
  padding: 15px 0;
  transition: all 1s ease-in-out;
}

.profile-navigation-link:hover {
  background-color: #ccc;
}

.profile-navigation a:hover {
  text-decoration: none;
}

.profile-navigation-link-active {
  background-color: #ccc;
  padding: 15px 0;
}

.profile-navigation-link-active:hover {
  color: #3490dc;
}

.profile-container-header {
  width: 100%;
  padding: 50px 0;
}

.profile-img {
  margin-right: 50px;
}

.profile-img img {
  height: 7rem;
  width: 7rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.profile-text-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.profile-header-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-numbers {
  display: flex;
  font-size: 0.7rem;
  width: 100%;
  justify-content: flex-start;
}

.profile-numbers p {
  display: inline;
  margin: 0;
}

.card-link > .card {
  border-radius: 0;
}

.card-link > .card > img {
  border-radius: 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.footer-category {
  border: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 2px 4px;
  border-radius: 2px;
}

a.card-link,
a.card-link:hover {
  color: inherit;
}

.posts-container-title {
  width: 25%;
  padding: 1rem 0;
  background-color: #515151;
  color: #fff;
  margin: 0 auto;
}

@media (max-width: 1188px) {
  .posts-container-title {
    width: 35%;
  }
}

@media (max-width: 776px) {
  .posts-container-title {
    width: 60%;
  }
}

@media (max-width: 430px) {
  .posts-container-title {
    width: 90%;
  }
}

/**
**
**  Profile Setup Page
**
*/

#profile-picture-select {
  width: 100%;
}

.profile-picture-container {
  margin-top: 10px;
}

.profile-info-container {
  margin-top: 50px;
}

.profile-setup-info {
  width: 100%;
  padding: 50px 0;
  width: 85%;
  margin: 0 auto;
}

.profile-img-setup {
  margin: 0 auto;
  display: block;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.setup-btn-container {
  margin-top: 30px;
}

.btn-blue {
  color: #fff;
  background-color: #497aaa;
  border-color: #497aaa;
  transition: color 1s ease-in-out, background-color 1s ease-in-out;
  -webkit-transition: color 1s ease-in-out, background-color 1s ease-in-out;
  -moz-transition: color 1s ease-in-out, background-color 1s ease-in-out;
  -o-transition: color 1s ease-in-out, background-color 1s ease-in-out;
}

.btn-blue:hover {
  color: #fff;
  background-color: #7ab1e7;
  border-color: #6397ca;
}

.btn-blue:focus {
  outline: none;
}

.links-container {
  margin: 40px 0;
  padding-bottom: 20px;
}

.link-container {
  padding: 10px 20px;
}

.links-container-title {
  padding: 30px 0;
}

/**
**
** User Dashboard Navigation
**
**/

.dashboard-navigation-sidebar {
  background-color: #fff;
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0px 0px 9px 0px #bdbdbd;
}

.navigation-dashboard-list a {
  padding-left: 1rem;
}

.dashboard-icon-span {
  margin-right: 1rem;
}

.dashboard-icon {
  fill: #3b3b3b;
  width: 1.2rem;
}

.dashboard-upload-icon {
  fill: #fff;
  width: 1.2rem;
}

/**
**
**  User My Posts Page
**
**/

.pagination-container {
  display: flex;
  justify-content: center;
}

/**
**
**  Add Contest Page
**
**/

.submit-contest-btn {
  float: right;
}

/**
**
**  Register And Login Pages
**
**
**/

.register-login-col {
  padding: 100px 0;
}

@media only screen and (max-width: 970px) {
  .register-login-col {
    padding: 0;
  }
}

/**
**
**
**  Home Page
**  
**
**/

.search-home-container {
  height: 500px;
  width: 100%;
  margin-bottom: 30px;
  background: #00e3ff;
  background: linear-gradient(90deg, #00e3ff 0%, #04ffb4 100%);
}

.search-home {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form-title {
  text-align: center;
  color: #5f5f5f;
}

.search-form {
  width: 50%;
}

.search-btn {
  width: 100%;
}

.report-btn {
  background-color: transparent;
  border: 0;
  color: #fa3b3b;
  font-size: 0.65rem;
}

/**
**
**
** Search Page
**
**
**/

.search-col {
  width: 100%;
  padding: 1rem;
}

.search-col label {
  font-weight: bold;
}

/**
**
**  Show Post Page
**
**/

.post-card-user-text {
  padding-left: 0.7rem;
  font-size: 0.8rem;
  font-weight: 700;
  width: 100%;
}

.comment-user-img {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
}

.comment-user-name {
  font-size: 0.7rem;
  line-height: 2rem;
}

.tag-span {
  background-color: #65c5ff;
  padding: 0.3rem 0.5rem;
  color: #fff;
  font-size: 0.8rem;
}

.dropdown-toggle-comment {
  background-color: transparent;
  border: 0;
}

.dropdown-toggle-comment:hover {
  background-color: transparent;
  border: 0;
}

.dropdown-toggle-comment:focus {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.dropdown-toggle-comment:active {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.dropdown-toggle-comment::after {
  display: none;
}

.menu-icon-comment {
  fill: #dadada;
  width: 75%;
}

.downloads-views {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.downloads-views p {
  display: inline;
}

.arrow-down-icon {
  fill: #a5a5a5;
  margin-right: 0.1rem;
  width: 1.3rem;
}

.eye-icon {
  fill: #a5a5a5;
  margin-right: 0.4rem;
  width: 1rem;
}

footer {
  background-color: #3d3d3d;
  color: #fff;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  display: inline;
}

